{
  "jabber" : {
    "user" : "user_name@goonfleet.com",
    "password" : "ESA Password"
  },
  "slack" : {
    "channels":
    {
      "all":"ping",
      "status":"botstatus",
      "filters":
      [
        {
          "channel":"fleet",
          "filter":"/(skirmishbot|Doctrine:|Location:)/"
        },
        {
          "channel":"bombers",
          "filter":"/broadcast from \\S+ to bomberwaffe/"
        }
      ]
    },
    "emoji":
    [
      {
        "from":":pcgaming:",
        "to":":desktop_computer:"
      }
    ],
    "token":"Slack Token"
  }
}
