{
  "jabber" : {
    "user" : "user_name@goonfleet.com",
    "password" : "ESA Password"
  },
  "slack" : {
    "channels":
      {
        "all":"ping",
        "fleets":"fleet",
        "status":"botstatus"
        },
    "token":"Slack Token"
  }
}
